version: "3.8"

services:
  mysql:
    image: mysql:8
    container_name: glowup-mysql
    environment:
      MYSQL_ROOT_PASSWORD: Ramya*123
      MYSQL_DATABASE: glowup_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./glowup-backend
    container_name: glowup-backend
    ports:
      - "8082:8080"
    depends_on:
      - mysql

  frontend:
    build: ./frontend
    container_name: glowup-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mysql_data:
